@model IEnumerable<CustomizedTrips.Models.TravelAgents.TravelAgentInfo2>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>

    <div class="container" style="background-color: beige; border: 1px solid black; width: 100%; height: 100%; margin-top: 3vw; border-radius: 15px">

        <h2>Index</h2>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FavoriteDestinations)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.YearsExperience)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.phoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FavoriteDestinations)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.YearsExperience)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</body>