@model CustomizedTrips.Models.Traveler.VacationRequest

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Traveler Profile</h2>

<div>
    <h4>VacationRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestinationDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>

    <!--asp-action = "Delete" will take me back to "/localhost:44304/VacationForm" when I click the button with that customer profile removed. Taking out "asp-action = Delete" will make the page NOT go to the vacation profile.-->

    <form asp-action="Delete">
        <!--NOTE: The type="hidden" hides the id. Remove it and you will be able to discover the id-->
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
